.grid
  
  .row.about-inner
    .cell-xs-12
    
      .row
        .cell-sm-auto
          img.about-inner-image(src='img/suntrap.jpg', alt='Suntrap Tanning &amp; Beauty Lounge', title='Suntrap Tanning &amp; Beauty Lounge')

        .cell-sm.about-inner-content
          h1.about-inner-title Suntrap Tanning &amp; Beauty Lounge

          p.
            Welcome to Suntrap, a friendly and welcoming salon, situated in
            Wolstanton, Newcastle-under-Lyme, offering all aspects of tanning, spa
            &amp; beauty therapy and aestethic clinic.

          p.
            We are a team of highly experienced and trained professionals delivering
            the highest quality treatments and services at competitive prices.
          
          p.
            Set over two floors, our spacious salon exudes a positive and relaxing vibe.
          
          p.
            On the ground floor you will find our bright and vibrant tanning lounge
            offering outstanding stand up and lie down sunbeds which are kept to the
            highest standard of cleanliness.
            You will also find our training suite containing two vibraxis vibration
            machines and our nails area.
            
          p.
            On the first floor, step out of the hustle and bustle of everyday life
            and unwind in beautiful tranquil surroundings. Let your worries and
            stresses fade away as soon as you enter our treatment rooms.
          
          p.
            We are proud to be an Elemis Spa &amp; Salon partner and we are
            delighted to offer you the award winning range of products and
            treatments carried out by highly trained and experienced therapists.
            
          p.
            Whether you choose to come for massage &amp; facials, waxing &amp; beauty,
            aestethics or sunbeds, here at Suntrap, we believe our clients deserve
            the very best and we promise to offer this. Customer satisfaction is our priority.
            We look forward to welcoming you soon.

      .row.distribute-between.align-middle
        .cell-xs-2
          img.accreditation(src='img/accreditations/elemis.jpg', title='Elemis', alt='Elemis')

        .cell-xs-2
          img.accreditation(src='img/accreditations/lycon.jpg', title='Lycon Waxing', alt='Lycon Waxing')

        .cell-xs-2
          img.accreditation(src='img/accreditations/cnd.jpg', title='CND', alt='CND')

        .cell-xs-3
          img.accreditation(src='img/accreditations/urban-tan.png', title='Urban Tan', alt='Urban Tan')

        .cell-xs-2
          img.accreditation(src='img/accreditations/skinbase.png', title='Skinbase The Facial', alt='Skinbase The Facial')
