.grid
  .row
    .cell-md-4

      h1.elemis-title
        img(src='img/accreditations/elemis.jpg', title='Elemis', alt='Elemis', height='30')
        br
        span.elemis-subtitle Facial Therapy
            
      .elemis-description
        p.
          Elemis was born out of the vision to bring together the power of nature,
          science and aromatics to create a skin care line that would transform
          the beauty industry. Elemis provides a naturally sourced, results driven
          skincare range designed to be personally described for you.

        p.
          We are proud to be an Elemis Spa &amp; Salon partner and are delighted
          to be able to offer you the award winning range of products and facial
          treatments all carried at by our Elemis trained therapists.

        p.
          Book your facial now or book four our free 15 minute facial mapping skin
          analysis with our Elemis therpaist who will advise you on suitable
          products or treatments for your skin type.

        p.
          Facial mapping appointment included free of charge with your first
          facial.

      img.elemis-products(src='img/elemis-products.png', title='Elemis Products', alt='Elemis Products')
    
    .cell-md.mt-sm.ml--sm
      ul.elemis-tabs.tabs
        li.elemis-tab-item.tab-item.active
          a.elemis-tab-link(href='#') Anti-Ageing Facials

        li.elemis-tab-item.tab-item
          a.elemis-tab-link(href='#') Skin Solutions Facials
          
        li.elemis-tab-item-full
          img(src='img/elemis-logo-small.png', title='ELEMIS', alt='Elemis Certified', height='50px')

      .tabs-container
        .row.tab-pane.active
          .cell-xs
          
            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50
              
              .cell-xs
                h1.elemis-service-title Pro Intense Lift Effect Facial
                h4.elemis-service-subtitle.
                  Powerful lifting techniques target sagging jowls, cheeks, chin
                  and neck for the ultimate lift effect.
                  
                .elemis-service-description
                  p.
                    Powered by breakthrough technology that combines cutting
                    edge plant skin ceus, nutrient rich natural lipids &amp;
                    firming plant actives. Powerfull lifting techniques target
                    sagging jowls, cheeks, chin &amp; neck whilst helping to
                    reduce puffiness &amp; fluid retention associated with
                    sagging skin.
                    
                    
            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £55
              
              .cell-xs
                h1.elemis-service-title Visible Brilliance Facial
                h4.elemis-service-subtitle.
                  Revives dull, slackened skin, restoring radiance
                  
                .elemis-service-description
                  p.
                    Perfect pre-occasion treatment. Moisturisation levels are
                    clinically proven to increase by up to 60% and elasticity by
                    up to 40% after just one treatment.

                  p.
                    Specialised micro-circulatory massage combined with a 2
                    phase amino active mask, helps smooth, plump and restore
                    radiance.
                  
            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title White Brightening facial
                h4.elemis-service-subtitle.
                  Illuminates &amp; brightens for a naturally more even
                  complexion

                .elemis-service-description
                  p.
                    This targeted treatment responds to individual skin needs
                    helping to reduce age spots, discolouration and dull skin
                    tone &amp; texture leaving the skin illuminated, more even
                    and beautifully white bright.

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title Pro-Collagen Quartz Lift Facial
                h4.elemis-service-subtitle.
                  Anti-wrinkle facial with proven results

                .elemis-service-description
                  p.
                    Clinically proven to reduce the number of wrinkles by up to
                    94% and improve skin firmness by up to 57% after just 1
                    treatment.

                  p.
                    Specialised lifting massage, combined with proven marine
                    extract, Padina Pavonica, helps tore-energise cell
                    communication and rejuvenate skin.

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title Tri Enzyme Resurfacing Facial
                h4.elemis-service-subtitle.
                  Peel away the years for smoother, renewed skin

                .elemis-service-description
                  p.
                    Clinically proven to resurface by up to 75% and increase
                    skin smoothness by up to 32% after just 1 treatment.

                  p.
                    Pioneering precision layering of Tri-Enzyme serums, this
                    unique treatment targets blemishes, uneven skin tone,
                    superficial facial scaring and fine lines, revealing younger
                    looking skin.

        .tab-pane.row
          .cell-xs

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title Modern Skin Facial
                h4.elemis-service-subtitle.
                  Re-balances stressed skin, restores a healthy glow

                .elemis-service-description
                  p.
                    Bursting with anti-oxidant rich minerals and vitamins, this
                    purifying treatment helps remove damaging toxins,
                    regenerates skin cells and rebalance sebum.

                  p.
                    This results in rebalanced, remineralised and renewed skin

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title Oxygen SkinCalm Facial
                h4.elemis-service-subtitle.
                  Soothe sensitive skin and even skin tone

                .elemis-service-description
                  p.
                    Gentle massage techniques are combined with calming actives
                    and a restructuring Japanese Silk Mask, impregnated with
                    Absolute SkinCalm Booster Serum, to help rebalance delicate,
                    fragile and sensitive complexions.

                  p.
                    Helping to relieve redness, this superior face and eye
                    treatment offers immediate comfort to stressed and irritated
                    skin.

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title S.O.S Purifying Facial
                h4.elemis-service-subtitle.
                  Purify congested skin and clear complexion

                .elemis-service-description
                  p.
                    A powerful face and eye treatment that helps regulate and
                    balance the function of the skin. Purifying massage
                    techniques combined with Japanese Sulphur Mask, impregnated
                    with Absolute Vit-C Booster Serum, help to absorb sebum,
                    calm irritation and rebalance oil-rich pores, leaving a
                    beautiful matt complexion.

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £45

              .cell-xs
                h1.elemis-service-title Skin Specific Facial
                h4.elemis-service-subtitle.
                  The perfect skin maintenance facial

                .elemis-service-description
                  p.
                    Customised to your skin type, this facial combines skin
                    conditioning plant actives, a prescribed mask and unique
                    eastern facial massage techniques.

                  p.
                    Your face is deeply cleansed to help renew radiance, nourish
                    and balance skin.

                  .elemis-service-offer
                    p Also available as a 30 minute Taster Facial for £25.00

            .row.elemis-service
              .cell-xs-auto
                h3.elemis-service-price £50

              .cell-xs
                h1.elemis-service-title Mens Urban Cleanse Facial
                h4.elemis-service-subtitle.
                  This super grooming facial cleanses the skin and neutrailises
                  impurities giving a complete skin detox

                .elemis-service-description
                  p.
                    This super grooming facial decongests the skin, working to
                    eleminate blocked pores and accelerate skin recovery.

                  p.
                    Fast acting ingredients reduce sensitivity and provide
                    long-lasting defence against the effects of daily
                    pollutants, leaving the skin clear.
