.grid
  .row
    .cell-md-4

      h1.elemis-title Elemis
      h2.elemis-subtitle Find your Treatment

      p.elemis-description.
        Elemis was born out of the vision to bring together the power of nature,
        science and aromatics to create a skin care line that would transform the
        beauty industry. Elemis provides a naturally sourced, results driven
        skincare range designed to be personally described for you.

      p.mt.
        We are proud to be an Elemis Spa &amp Salon partner and are delighted to be
        able to offer you the award winning range of products and facial treatments
        all carried at by our Elemis trained therapists.

      p.mt.
        Book your facial now or book four our free 15 minute facial mapping skin
        analysis with our Elemis therpaist who will advise you on suitable products
        or treatments for your skin type.

      p.mt.
        Facial mapping appointment included free of charge with your first facial

    .cell-md
      .row
        .cell-sm
          ul.tabs.elemis-menu
            li.active
              a(href='#') Anti-Ageing Facials
            li
              a(href='#') Skin Solutions Facials

      .tabs-container
        .tab-pane.active.row
          .cell-sm

            .row.elemis-service
              .elemis-service-price
                p £50

              .cell-sm
                h1.elemis-service-title Pro Intense Lift Effect Facial
                span.elemis-service-subtitle Powerfull lifting techniques target sagging jowls, cheeks, chin and neck for the ultimate lift effect.

                .elemis-service-description
                  p.
                    Powered by breakthrough technology that combines cutting edge plant skin
                    ceus, nutrient rich natural lipids &amp; firming plant actives. Powerfull
                    lifting techniques target sagging jowls, cheeks, chin &amp; neck whilst
                    helping to reduce puffiness &amp; fluid retention associated with
                    sagging skin.

            .row.elemis-service
              .elemis-service-price
                p £55

              .cell-sm
                h1.elemis-service-title Visible Brilliance Facial
                span.elemis-service-subtitle Revives dull, slackened skin, restoring radiance

                .elemis-service-description
                  p.
                    Perfect pre-ocassion treatment. Moisturisation levels are clinically
                    proven to increase by up to 60% and elasticity by up to 40% after just
                    one treatment.

                  p.mt.
                    Specialised micro-circulatory massage combined with a 2 pase amino active
                    mask, helps smooth, pump and restore radiance.

            .row.elemis-service
              .elemis-service-price
                p £55

              .cell-sm
                h1.elemis-service-title White Brightening facial
                span.elemis-service-subtitle Illuminates &amp; brightens for a naturally more even complexion

                .elemis-service-description
                  p.
                    This targeted treatment responds to individual skin needs helping to
                    reduce age spots, discoloration and dull skin tone &amp; texture tearing
                    the skin illuminated, more even and beautifully white bright.

            .row.elemis-service
              .elemis-service-price
                p £50

              .cell-sm
                h1.elemis-service-title Pro-Collagen Quartz Lift Facial
                span.elemis-service-subtitle Anti-wrinkle facial with proven results

                .elemis-service-description
                  p.
                    Clinically proven to reduce the number of wrinkles by up to 94% and
                    improve skin firmness by up to 57% after just 1 treatment.

                  p.mt.
                    Specialised lifting massage, combined with proven marine extract, podina
                    paranica, helps tore-energise cell communication and rejuvenate skin.

        .tab-pane.row
          .cell-sm

            .row.elemis-service
              .elemis-service-price
                p £50

              .cell-sm
                h1.elemis-service-title Skin Specific Facial
                span.elemis-service-subtitle The perfect skin maintenance facial

                .elemis-service-description
                  p.
                    Customised to your skin type, this facial combines skin conditioning plant
                    actives, a prescribed mask and unique eastern facial massage techniques.

                  p.mt.
                    Your face is deeply cleansed to help renew radiance, nourish and balance
                    skin.
