.row.address
  .cell-sm
    #map.map

    .map-address
      .grid
        address
          h1.address-title!= suntrap
            span.address-phone 01782 799 733

          p.address-content.
            35 Dimsdale Parade East, Wolstanton <br />
            Newcastle-under-Lyme <br />
            ST5 8BX

          form.address-form(action='http://maps.google.com/maps', class='geolocation', method='get', target='_blank')
            input(type='hidden', name='saddr', value='')
            input(type='hidden', name='daddr', value='ST5 4WS, 35 Dimsdale Parade East, Wolstanton')
            input.address-form-button(type='submit', value='Get directions')

.row.credit
  .grid
    .row
      .cell-sm
        p.
          Design &amp; Development by <a href='http://www.creative-studio51.co.uk'>Studio51 Creative Services</a>

      .cell-sm-auto.mt-xs
        p &copy; #{suntrap} 2015
