nav.navbar

  .grid
    .row.navbar-inner

      h1.navbar-brand-container
        a.navbar-brand(href='http://suntraplounge.co.uk', title!= suntrap)
          != suntrap

      button.navbar-trigger
        .navbar-trigger-icon
          span
          span
          span
          span
          span
          span

      ul#navbar-menu.navbar-menu
        li.navbar-menu-item
          a.navbar-link(href='#services', title='Our Services', class='navbar-menu-link') Services

        li.navbar-menu-item
          a.navbar-link(href='#elemis', title='Our Elemis Services &amp; Products', class='navbar-menu-link') Elemis

        li.navbar-menu-item
          a.navbar-link(href='#footer', title='Get in touch with us', class='navbar-menu-link') Contact
