nav.navbar
  .grid
    .row
      .cell-md-7
        .row.navbar-brand-container
          img(src="img/elemis-logo-small.png", title="Elemis", alt="Elemis", height="50")

          h3
            a.navbar-brand(href='http://suntraplounge.co.uk', title!= suntrap)
              != suntrap
            //- img.navbar-brand-image(src='img/suntrap-blue.svg', alt!= suntrap, title!= suntrap)
            //- img.navbar-brand-image-small(src='img/suntrap.svg', alt!= suntrap, title!= suntrap)

          a.navbar-trigger.btn-action(href='#', data-target='#navbar', aria-label='Toggle Navigation')
            span.lines

      .cell-xs-12.cell-md-5.align-md-right
        #navbar.row.navbar-container
          ul.navbar-items-container
            li.navbar-item
              a.navbar-link(href='#services', title='Our services') Services

            li.navbar-item
              a.navbar-link(href='#elemis', title='Our Elemis services &amp; Products') Elemis

            li.navbar-item
              a.navbar-link(href='#footer', title='Get in touch with us') Contact
