.grid
  .row
    .teammate
      .row
        .cell-xs-auto
          img.teammate-image(src='https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg', class='team-member-photo')

        .cell-xs
          span.team-introduction Hy, my name is
          h1.teammate-name Amanda

      p.teammate-bio.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quos reiciendis, quis sint adipisci unde perspiciatis, inventore dicta! Blanditiis eligendi rem quibusdam qui.

      ul.teammate-skills
        li Vibraxis
        li Beauty Therapy
        li Microdermabrasion Facial

    .teammate
      .row
        .cell-xs-auto
          img.teammate-image(src='https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg', class='team-member-photo')

        .cell-xs
          span.team-introduction Hy, my name is
          h1.teammate-name Liz

      p.teammate-bio.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quos reiciendis, quis sint adipisci unde perspiciatis, inventore dicta! Blanditiis eligendi rem quibusdam qui.

      ul.teammate-skills
        li Vibraxis
        li Tanning
        li Nails

    .teammate
      .row
        .cell-xs-auto
          img.teammate-image(src='https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', class='team-member-photo')

        .cell-xs
          span.team-introduction Hy, my name is
          h1.teammate-name Blonde

      p.teammate-bio.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quos reiciendis, quis sint adipisci unde perspiciatis, inventore dicta! Blanditiis eligendi rem quibusdam qui.

      ul.teammate-skills
        li Vibraxis
        li Tanning
        li Waxing
