.grid
  .row
    .cell-sm
      img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg', class='team-member-photo')
      span Hy, my name is
      h1.team-member-name
        | Lucy Duncan

      p.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quos reiciendis, quis sint adipisci unde perspiciatis, inventore dicta! Blanditiis eligendi rem quibusdam qui.

      ul
        li Vibraxis
        li Beauty Therapy
        li Microdermabrasion Facial

    .cell-sm
      img(src='https://s3.amazonaws.com/uifaces/faces/twitter/madysondesigns/128.jpg', class='team-member-photo')
      span Hy, my name is
      h1.team-member-name
        | Cherly Sanchez

      p.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quos reiciendis, quis sint adipisci unde perspiciatis, inventore dicta! Blanditiis eligendi rem quibusdam qui.

      ul
        li Vibraxis
        li Tanning
        li Nails

    .cell-sm
      img(src='https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg', class='team-member-photo')
      span Hy, my name is
      h1.team-member-name
        | Pearl Wade

      p.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quos reiciendis, quis sint adipisci unde perspiciatis, inventore dicta! Blanditiis eligendi rem quibusdam qui.

      ul
        li Vibraxis
        li Tanning
        li Waxing
