.grid
  
  .row.align-middle
    .cell-xs
    
      #testimonials
      
        ul.testimonials-container
          li.testimonial
            h2.testimonial-author Lilly Springett
            p.testimonial-content.
              Wonderful salon with lovely staff! Had a few treatments here including
              a wax for the first time and I was so impressed with the results I
              will definitely be back and recommend to anybody! New management is
              brill (Liz) xx

          li.testimonial
            h2.testimonial-author Emma Shaughnessy
            p.testimonial-content.
              Lovely Salon, the staff are very friendly and experienced and offer a
              great range of beautiful treatments x

          li.testimonial
            h2.testimonial-author Tina Meigh
            p.testimonial-content.
              Beautiful nails from a really friendly team - I'd recommend them to
              anyone

          li.testimonial
            h2.testimonial-author Chelsey Brindley
            p.testimonial-content.
              Great shellac toes and long lasting! Liz is very very professional and
              a perfectionist, Thank you

          li.testimonial
            h2.testimonial-author Maureen Ferguson
            p.testimonial-content.
              Well all i can say is I haven't been this relaxed in a long time. Just
              had a full body massage done by Liz. Brilliant. Will defo be back for
              more. Thanks Liz.

          li.testimonial
            h2.testimonial-author Lisa Garside
            p.testimonial-content.
              wonderful deep tissue massage today, just what I needed!! Lovely
              relaxing room, i'll be back next month and would recommend anytime
