.grid
  
  .row.align-middle
    .cell-xs
    
      #testimonials
      
        ul.testimonials-container
          li.testimonial
            h2.testimonial-author Lilly Springett
            p.testimonial-content.
              Wonderful salon with lovely staff! Had a few treatments here 
              including a wax for the first time and I was so impressed with the
              results I will definitely be back and recommend to anybody! New
              management is brill xx

          li.testimonial
            h2.testimonial-author Emma Shaughnessy
            p.testimonial-content.
              Lovely Salon, the staff are very friendly and experienced and
              offer a great range of beautiful treatments x

          li.testimonial
            h2.testimonial-author Tina Meigh
            p.testimonial-content.
              Beautiful nails from a really friendly team - I'd recommend them
              to anyone

          li.testimonial
            h2.testimonial-author Jill Bithell
            p.testimonial-content.
              I have my manicures, pedicures , and eyebrows and lashes done
              here, Lovely staff and a nice atmosphere, Always busy which shows
              you how good they are.

          li.testimonial
            h2.testimonial-author Jessica Davies
            p.testimonial-content.
              Such a lovely welcome place to go, very warmly to go to, and the
              eyebrows I had done today by Amy I really love! Definitely be
              coming again

          li.testimonial
            h2.testimonial-author Ebony Lindsay
            p.testimonial-content.
              Brilliant sunbeds. Definitely sure to get results after a few
              times using them!

          li.testimonial
            h2.testimonial-author Maureen Ferguson
            p.testimonial-content.
              Well all i can say is I haven't been this relaxed in a long time.
              Just had a full body massage done by Liz. Brilliant. Will defo be
              back for more. Thanks Liz.

          li.testimonial
            h2.testimonial-author Lisa Garside
            p.testimonial-content.
              wonderful deep tissue massage today, just what I needed!! Lovely
              relaxing room, i'll be back next month and would recommend anytime
