.grid
  .row
    .cell-sm
      ul.testimonials-container
        li.testimonial
          h3.testimonial-author.
            Lilly Springett

          p.testimonial-content.
            Wonderful salon with lovely staff! Had a few treatments here
            including a wax for the first time and I was so impressed with
            the results I will definitely be back and recommend to anybody!
            New management is brill (Liz) xx

        li.testimonial
          h3.testimonial-author.
            Lilly Springett

          p.testimonial-content.
            Wonderful salon with lovely staff! Had a few treatments here
            including a wax for the first time and I was so impressed with
            the results I will definitely be back and recommend to anybody!
            New management is brill (Liz) xx
