.service.service-aestethic
  h1.service-title Aestethic

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1200', preserveaspectratio='xMidYMid slice')
      defs
        clippath#aestethicPath
          polygon.clip(points='0, 1200 0, 0 1920, 0 1920, 1200')

      image(clip-path='url(#aestethicPath)', width='1920', height='1200', xlink:href='img/categories/aestethic.jpeg')

    .grid
      .service-content
        h1.service-inner-title Aestethic
        i.service-btn-close

        .service-body
          .service-caption
            .service-caption-description
              p.
                From glamorous lashes to defined shaped eyebrows, your eyes are often the first thing people
                notice about you.
              
              p.
                Tinted Eyebrows frame your whole face and adds definition to your look and lashes which can
                be choosen in various lengths and volume from a subtle everyday look to a luscious full effect
                for that special night out.
                
              .alert.alert-info 
                 p.
                  A tint / glue patch test is required 48 hours prior to all tinting / lash treatments
                  
          .row.service-meta
            .cell-sm
              p.
                We also retail <strong>Be Proud Blink Pro</strong> strip lashes which are the choice of celebrities
                &amp; make-up artists, made with real hair and re-usable for £5.95
              
          .row.service-copy
            .cell-sm
              .row
                .cell-sm
                
                  .service-offer
                    h3.service-offer-title Retail Strip Lashses £5.95

                  .service-offer
                    h3.service-offer-title Strip Lasg &amp; Application £10.00

                  .service-offer
                    h3.service-offer-title Individual Lashes £14.00
                    span.service-offer-info may last about a week with correct care
                    
                  .service-offer
                    h3.service-offer-title Eyebrow Tint £6.00

                  .service-offer
                    h3.service-offer-title Lash Tint £9.00

                  .service-offer
                    h3.service-offer-title Lash &amp; Brow Tint £12.00

                  .service-offer
                    h3.service-offer-title Eyebrow Wax &amp; Tint £11.00

                  .service-offer
                    h3.service-offer-title Eyepackage £16.00
                    span.service-offer-info Brow Shape, Lash Tint & Brow Tint
