.service-content--page--caption
  p.
    Our Aestethic clinic is forthnightly on Saturdays held by
    <strong>Sian Fumarola</strong>, <strong>MSc</strong>,
    <strong>BSc Hon</strong>, <strong>INP</strong>,
    <strong>Dip health ed</strong>, <strong>Dip counselling</strong>,
    <strong>RGN</strong>

  p.
    Sian is a nurse consultant with 30 years experience in nursing, 15 years
    experience as a specialist in the NHS and is currently an advisor for the
    Department of Health.
    
.service-content--page--meta
      
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Dermal Fillers
      .service-content--page--meta-content
        p.
          Dermal Fillers are used to soften and contour lines around your mouth,
          eyes, nose and forehead, ehance volumne and to add hydration to your
          skin.

        p.
          Hyaluronic acid based fillers are popular, this is a natural product
          found in the skin, joints and eyes. These fillers generally last for 6 
          to 12 months. Collagen stimulation fillers work with own skin to
          enahnce collagen production and can last for up to 3 years.

        p.
          There are many different types of dermal fillers available. It is our
          priority to use only temporary fillers with a high safety profile. The
          filers used have undergone years of rigurous research, are proven to
          be safe and effective and do not contain any animal derivatives.
        
        p Dermal fillers can be particulary effective on the:
        
        ul
          li Nose to mouth lines
          li Mouth to chin lines
          li Upper lip lines and lips
          li Smile lines
          li Frown lines
        
        .service-content--page--meta-offer
          h3 Prices start from £150.00
          p Cost can vary and depends of the filler used and amount required.
          
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Wrinkle reducing injections
      .service-content--page--meta-content
        p.
          Wrinkle reducing injections ( botulinum toxin ) has been applied
          safely and successfully to relax wrinkles for over 30 years. The
          treatment is quick and effective and its results last 3 to 4 months.
        
        p.
          The treatment works with tiny injections into the muscles, blocking
          nerve impulses thus relaxing the muscles. This is turn reduces
          wrinkles forming. Since the treatment only relaxes the muscle beneath
          the line at the injection site, it has no effect on other elements of
          facial expression.
        
        p.
          Botulinum toxin injections are one of the most effective and popular
          treatments for smoothing wrinkles / lines in the following areas:
          
        ul
          li Forehead lines
          li Frown lines ( between eyebrows )
          li Crows feet ( around each side of the eyes )

        .service-content--page--meta-offers
          .service-content--page--meta-offer
            p One area £100.00

          .service-content--page--meta-offer
            p Two areas £160.00

          .service-content--page--meta-offer
            p Three areas £200.00

          .service-content--page--meta-offer
            p Top ups £20.00 / area
              
  .row.service-content--page--meta-section.poper
    .cell-xs
    
      h2.service-content--page--meta-title Also available
      .service-content--page--meta-content
        ul
          li Dermaroller
          li Chemical Peels
          li Cosmaceuticals
          li Neutraceuticals
          li Skin Needling
          li Fat Reducing Injections
        
        p Book now for your consultation!
      
        .service-content--page--meta-offer
          p.
            £30.00 deposit is required to book your consultation which will be
            deducted from your treatment.
