.service-content--page--caption
  p.
    From glamorous lashes to defined shaped eyebrows, your eyes are often
    the first thing people notice about you.
  
  p.
    Tinted Eyebrows frame your whole face and adds definition to your look
    and lashes which can be choosen in various lengths and volume from a
    subtle everyday look to a luscious full effect for that special night
    out.
    
  .alert.alert-info
    p.
      A tint / glue patch test is required 48 hours prior to all tinting /
      lash treatments

.service-content--page--meta
          
  .row.service-content--page--meta-section
    .cell-xs
    
      .service-content--page--meta-offers.nm
        .service-content--page--meta-offer
          h3 Retail Strip Lashses £5.95

        .service-content--page--meta-offer
          h3 Strip Lasg &amp; Application £10.00

        .service-content--page--meta-offer
          h3 Individual Lashes £14.00
          i may last about a week with correct care
          
        .service-content--page--meta-offer
          h3 Eyebrow Tint £6.00

        .service-content--page--meta-offer
          h3 Lash Tint £9.00

        .service-content--page--meta-offer
          h3 Lash &amp; Brow Tint £12.00

        .service-content--page--meta-offer
          h3 Eyebrow Wax &amp; Tint £11.00

        .service-content--page--meta-offer
          h3 Eyepackage £16.00
          i Brow Shape, Lash Tint & Brow Tint
        
  .row.service-content--page--meta-section.poper
    .cell-xs

      .service-content--page--meta-content
        p.
          We also retail <strong>Be Proud Blink Pro</strong> strip lashes 
          which are the choice of celebrities &amp; make-up artists, made
          with real hair and re-usable for £5.95
