.service-content--page--caption
  p.
    The SkinBase Microdermabrasion Facial is a safe, controlled treatment
    that intensely exfoliates &amp; resurfaces the skin for complete skin
    rejuvenation.

  p.
    A fine jet of abrasive crystals gently removes dead skin cells layer
    by layer &amp; a vacuum action lifts away the debris, stimulating the
    blood flow and encouraging collagen &amp; elastin formulation that
    results in firmer, revitalised and youthful looking skin.

  p.
    Wrinkles disappear, acne scarring is reduced and dull &amp; tired skin
    is completely banished. Results can be seen after just one treatment!

.service-content--page--meta
  
  .row.service-content--page--meta-section
    .cell-sm-4.mb-sm
      img.lazy(src='img/facial-before-after.jpg', title='SkinBase Microdermabrasion Facial Before &amp; After', alt='SkinBase Microdermabrasion Facial Before &amp; After')

    .cell-sm.ml--sm
    
      h2.service-content--page--meta-title SkinBase Microdermabrasion targets
      .service-content--page--meta-content
        ul
          li Acne &amp; Acne Scarring
          li Fine lines &amp; Forehead Wrinkles
          li Ageing Skin
          li Dull &amp; Tired Skin
          li Uneven Skin tone, Brown Spots &amp; Blotching
          li Pigmentation &amp; Blemishes
          li Stretch Marks
          
      .alert.alert-info
        p Each treatment lasts for 30 minutes and can be used on any area of face and body.

  .row.service-content--page--meta-section.poper
    .cell-xs
    
      h2.service-content--page--meta-title £10 off your first treatment!
      .service-content--page--meta-content
        p.
          Book now and receive your first SkinBase MD Facial for just £20
          (normally £30). We guarantee you will be amazed by the results
          after just one treatment and will leave the salon with your skin
          smooth with a youthful and radiant glow.

        p.
          Our highly trained therapists will perform an initial
          consultation prior to the treatment to analyse your skin and
          assess your individual requirements. For some clients just a one
          off booster facial will be sufficient whereas for more
          problematic skin a course of treatments may be recommended.

        .service-content--page--meta-offer
          p £30 or course of 5 sessions £125 ( to be taken every 7-10 days )
