.service.service-facial
  h1.service-title.
    Facial

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1280', preserveaspectratio='xMidYMid slice')
      defs
        clippath#facialPath
          polygon.clip(points='0, 1280 0, 0 1920, 0 1920, 1280')

      image(clip-path='url(#facialPath)', width='1920', height='1280', xlink:href='img/categories/facial.jpg')

    .grid
      .service-content
          i.fa.fa-times.service-btn-close

        .service-caption
          h2.service-caption-title Tanning
          p.service-caption-subtitle A modern day love story

        .service-copy

          h3
            | Pro-Intense Lift Effect Facial 1 hour £55.00

          p
            | Powerfull lifting techniques target sagging jowls, cheeks, chin and neck
            | for the ultimate lift effect.

          p
            | Powered by breakthrough technology that combines cutting edge plant skin
            | ceus, nutrient rich natural lipids &amp; firming plant actives. Powerfull
            | lifting techniques target sagging jowls, cheeks, chin &amp; neck whilst
            | helping to reduce puffiness &amp; fluid retention associated with
            | sagging skin.

          h3
            | Pro-Intense Lift Effect Facial 1 hour £55.00
          p
            |
            |
            |
            |

