#service-massage-benefits.massage--benefit-container
  .massage--benefit
    h2.massage--benefit-title Relieves Stress
    p.massage--benefit-content.
      Stress relief is key to achieving a healthier lifestyle. Even a single
      massage session can significantly lower heart rate, cortisol and insulin
      levels all of which help reduce daily stress.

  .massage--benefit
    h2.massage--benefit-title Encourages Relaxation
    p.massage--benefit-content.
      Relax. Reset. Repeat. Massage has been shown to help the body enter a
      relaxing rest-and-recovery mode an effect that lingers long after the
      massage is over.

  .massage--benefit
    h2.massage--benefit-title Improves Posture
    p.massage--benefit-content.
      Unlike other bad habits, poor posture can be relaxing to correct. Massage
      helps reinforce healthy and natural movements, which can get your posture
      back on track.

  .massage--benefit
    h2.massage--benefit-title Improves Circulation
    p.massage--benefit-content.
      The pressure created by massage therapy moves blood through congested
      areas. This causes new blood to flow in, resulting improved body function.

  .massage--benefit
    h2.massage--benefit-title Lower Blood Pressure
    p.massage--benefit-content.
      High blood pressure has more misconceptions than nearly any other medical
      condition. But one effective way to stave off high blood pressure
      naturally is massage therapy.

  .massage--benefit
    h2.massage--benefit-title Relaxes Muscles
    p.massage--benefit-content.
      Got neck, back or muscle pain? Odds are, sitting all day at the office is
      the culprit. Massage gets to the root of persistent pain by relaxing tense
      muscles.

  .massage--benefit
    h2.massage--benefit-title Improves Flexibility and Range of Motion
    p.massage--benefit-content.
      As we age, joints tend to tighten, making range of motion more restricted.
      Massage helps keep joints more fluid, making you more flexible and less
      prone to injury.

  .massage--benefit
    h2.massage--benefit-title Promotes Deeper and Easier Breathing
    p.massage--benefit-content.
      One of the telltale signs of anxiety and stress is constricted breathing.
      Massage can play an important role in reliving respiratory issues and
      training the body how to relax.

  .massage--benefit
    h2.massage--benefit-title Relieves Headaches
    p.massage--benefit-content.
      Many people suffer from chronic headaches and migraines. Massage
      helps ease the pressure and pain, which can also reduce the chance and
      frequency of headaches.

  .massage--benefit
    h2.massage--benefit-title Strengthens the Immune System
    p.massage--benefit-content.
      Studies indicate that regular massage can naturally increase the immune
      system’s cytotoxic capacity–the activity level of the body’s natural
      "killer cells".

  .massage--benefit
    h2.massage--benefit-title Enhances Post-Operative Rehabilitation
    p.massage--benefit-content.
      Massage helps the body pump more oxygen and nutrients into tissues and
      vital organs. This makes massage therapy a great supplement to
      post-operative rehabilitation.

  .massage--benefit
    h2.massage--benefit-title Improves Rehabilitation After Injury
    p.massage--benefit-content.
      Rehabilitation can be frustrating. A continual massage program can
      accelerate the recovery process, as well as help you relax and stay
      motivated.
