.service-content--page--caption

  p.
    Whether your need is to have a moment of relaxation, reduce muscle tension
    or attain relief from chronic pain, a therapeutic massage can enhance your
    overall sense of emotional &amp; physical well being..
  
  p.
    Let your worries &amp; stresses face away as soon as you enter our
    treatment rooms. With mood lighting, deep soothing music &amp; electronic
    heated massage couch.
  
  p.
    Choose from our range of massage treatments all carried out by our
    passionate &amp; highly experienced therapists.
    
.service-content--page--meta
  
  .row.service-content--page--meta-section.poper
    .cell-xs
    
      h2.service-content--page--meta-title Benefits of Massage Therapy
      .service-content--page--meta-content
        p.
          Massage therapy is more than relaxing me-time. Studies continue to
          prove the physical, and emotional benefits of even a single massage
          therapy session. As the number of proven health benefits  grows, so do
          the number of clients who turn to Massage therapy for a more balanced
          lifestyle.
          
        a.btn.btn-action(href='#', data-target='#service-massage-benefits') Learn More..

      include massage-benefits
      
  .row.service-content--page--meta-section
    .cell-sm-3.mb-sm
      img.lazy(src='img/massage-deep-tissue.jpg', title='Deep Tissue Massage', alt='Deep Tissue Massage')
    
    .cell-sm.ml--sm
    
      h2.service-content--page--meta-title Deep Tissue Massage
      .service-content--page--meta-content
        p.
          The massage focuses on releving tension &amp; aching muscles. 
          The fundamental elements of the deep tissue muscle massage are
          experienced in deep presure using blended massage oils.
        
        p Tailor made to suit the individual needs of the client.
        
        .service-content--page--meta-offer
          h3 1 hour £35.00 or 30 minutes £20
          p Introductory price 1 hour £25.00
          
  .row.service-content--page--meta-section
    .cell-sm.mr--sm
    
      h2.service-content--page--meta-title Relaxing Full Body Massage
      .service-content--page--meta-content
        p.
          After consultation to find out your specific needs, the therapist will
          use carefully applied pressures to stimulate the nervous system, to
          relieve the muscle tension and encourage healthy circulation to
          disolve away all your stress and tensions.
        
        p Relaxes your body, mind and spirit.
        
        .service-content--page--meta-offer
          h3 1 hour £35.00 or 30 minutes £20
          p Introductory price 1 hour £25.00
          
    .cell-sm-3.cell-xs-order--first.cell-sm-order--last.mb-sm
      img.lazy(src='img/massage-hot-stone.jpg', title='Relaxing Full Body Massage', alt='Relaxing Full Body Massage')
      
  .row.service-content--page--meta-section
    .cell-sm-3.mb-sm
      img.lazy(src='img/massage-full-body.jpg', title='Hot Stone Massage', alt='Hot Stone Massage')
    
    .cell-sm.ml--sm
    
      h2.service-content--page--meta-title Hot Stone Therapy Massage
      .service-content--page--meta-content
        p.
          Smooth hot stones are placed on chakra points of the body them
          massaged allowing the therapist to access deeper muscle layers, melts
          away tension, eases muscle stiffness &amp; increases circulation and
          metabolism.
        
        p.
          The volcanic stones are believed to promote relaxation and healing, as
          well as eliminating negative energy withing the body, mind &amp; soul.
        
        .service-content--page--meta-offer
          h3 1 hour £35.00 or 30 minutes £20
          p Introductory price 1 hour £25.00
          
  .row.service-content--page--meta-section
    .cell-sm.mr--sm
    
      h2.service-content--page--meta-title Mother to be Massage
      .service-content--page--meta-content
        p.
          Massage therapy during pregnancy is a healthy way to reduce stress and 
          promote overall welness.
        
        p.
          It can also relieve many of the normal discomoforts experienced
          during pregnancy, such as backaches, stiff neck, leg cramps,
          headeaches and swelling. Taior made to suit the individual needs of
          the client.
        
        .service-content--page--meta-offer
          h3 1 hour £35.00 or 30 minutes £20
          p Introductory price 1 hour £25.00
          
          
    .cell-sm-3.cell-xs-order--first.cell-sm-order--last.mb-sm
      img.lazy(src='img/massage-mother-to-be.jpg', title='Mother to be Massage', alt='Mother to be Massage')
      
