.service.service-nails
  h1.service-title Manicure, Pedicure &amp; Nail Technology

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1280', preserveaspectratio='xMidYMid slice')
      defs
        clippath#nailsPath
          polygon.clip(points='0, 1280 0, 0 1920, 0 1920, 1280')

      image(clip-path='url(#nailsPath)', width='1920', height='1280', xlink:href='img/categories/nails.jpg')

    .grid
      .service-content
        i.service-btn-close.fa.fa-times

        .service-caption
          h2.service-caption-title Manicure, Pedicure &amp; Nail Technology

          .service-copy
            .row
              .cell-md.mr
                p.

                  Whichever nail, hand or foot treatment you choose you can be assured that our technicians are highly experienced, follow the highest level of spa sanitation and will give you perfect results and a memorable experience.

        .service-content
          .row
            .cell-sm-3
              img(src="img/massage-deep-tissue.jpg", title="Deep Tissue Massage", alt="Deep Tissue Massage")

            .cell-sm
              .row
                .cell-sm
                  .service-caption
                    h2.service-caption-title CND Classic Almond Spa Manicure

                  .service-copy
                    .row
                      .cell-sm
                        p.
                          Start with a deeply nourishing warm almond milk soak followed
                          by a moisture scrub to polish away any imperfections. Cuticle
                          work, nail shaping and your choice of polish or Shellac.
                          Finally, almond hydrating lotion containing jojoba & vitamin E
                          is massaged into the hands leaving a soft and smooth finish.

                      .cell-sm-3
                        h2.offer-title £25.00


              .row
                .cell-sm
                  .service-caption
                    h2.service-caption-title CND Deluxe Almond Manicure

                  .service-copy
                    .row
                      .cell-sm
                        p.
                          Nourishing warm almond milk soak followed by a moisture scrub to polish away any imperfections.  Almond illuminating mask ,with blended sweet almond oil, is applied to the hands then left in heated mitts to deeply hydrate & condition.Cuticle work, nail shaping and your choice of polish or Shellac. Finally a relaxing hand and arm massage completes this sumptuous experience.

                      .cell-sm-3
                        h2.offer-title £30.00
