.service.service-nails
  h1.service-title Manicure, Pedicure &amp; Nail Technology

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1280', preserveaspectratio='xMidYMid slice')
      defs
        clippath#nailsPath
          polygon.clip(points='0, 1280 0, 0 1920, 0 1920, 1280')

      image(clip-path='url(#nailsPath)', width='1920', height='1280', xlink:href='img/categories/nails.jpg')

    .grid
      .service-content
        h1.service-inner-title Manicure, Pedicure &amp; Nail Technology
        i.service-btn-close

        .service-body
          i.service-btn-close

          .service-caption
            p.
              Whichever nail, hand or foot treatment you choose you can be assured that our technicians are highly experienced, follow the highest level of spa sanitation and will give you perfect results and a memorable experience.

          .row.service-copy.mt
            .cell-sm-3.image-cover.mb-sm.mr
              img.img-responsive(src='img/nails-manicure.jpg', title='CND Classic Almond Spa Manicure', alt='CND Classic Almond Spa Manicure')

            .cell-sm

              .row.service-copy
                .cell-sm
                  h2.service-copy-title CND Classic Almond Spa Manicure

                  .service-copy-content
                    p.
                      Start with a deeply nourishing warm almond milk soak followed
                      by a moisture scrub to polish away any imperfections. Cuticle
                      work, nail shaping and your choice of polish or Shellac.
                      Finally, almond hydrating lotion containing jojoba &amp; vitamin E
                      is massaged into the hands leaving a soft and smooth finish.

                  .service-offer
                    h3.service-offer-title £25.00

              .row.service-copy
                .cell-sm
                  h2.service-copy-title CND Deluxe Almond Manicure

                  .service-copy-content
                    p.
                      Nourishing warm almond milk soak followed by a moisture scrub to polish away any imperfections.  Almond illuminating mask ,with blended sweet almond oil, is applied to the hands then left in heated mitts to deeply hydrate &amp; condition.Cuticle work, nail shaping and your choice of polish or Shellac. Finally a relaxing hand and arm massage completes this sumptuous experience.

                  .service-offer
                    h3.service-offer-title £30.00

          .row.service-copy
            .cell-sm-3.image-cover.mb-sm.mr
              img.img-responsive(src='img/nails-pedicure.jpg', title='CND Classic Almond Spa Manicure', alt='CND Classic Almond Spa Manicure')

            .cell-sm

              .row.service-copy
                .cell-sm
                  h2.service-copy-title CND Classic Marine Pedicure

                  .service-copy-content
                    p.
                      Treat your feet to our Classic Marine Pedicure and experience pure, ocean inspired bliss for feet. Begin by relaxing your feet in a whirlpool marine mineral soak that begins your sense of well being.  After soaking our technician cuts and shapes your toe nails, cares for your cuticles and removes any tough, dead skin. Your feet are then exfoliated using a sea salt scrub as a natural exfoliant to gently polish and condition the skin. Our treatment is completed with a hydrating oil massaged into the feet and finished with your choice of regular or Shellac polish.

                  .service-offer
                    h3.service-offer-title £27.00

              .row.service-copy
                .cell-sm
                  h2.service-copy-title CND Deluxe Marine Pedicure

                  .service-copy-content
                    p.
                      Begin by relaxing your feet in a whirlpool marine mineral soak followed by cutting and shaping your toe nails, cuticle care and removal of any tough, dead skin.  Your feet are then exfoliated using a sea salt scrub  A cooling cucumber mask and heel therapy is applied to the feet to hydrate and invigorate the feet and repair the heels which are then wrapped in heated bootees. This luxurious treatment is completed with a relaxing foot and calf massage and finished with your choice of regular or Shellac polish.

                  .service-offer
                    h3.service-offer-title £32.00

          .row.service-copy
            .cell-sm-4.image-cover.mb-sm.mr
              img.img-responsive(src='img/nails-shellac.jpg', title='CND Shellac Technology', alt='CND Shellac Technology')

            .cell-sm
              h2.service-copy-title CND Shellac on fingers or toes

              .service-copy-content
                p.
                  CND Shellac Power Polish is a breakthrough technology which combines the ease of polish with the performance of a gel.  With many fabulous colours to choose from Shellac will give  a 14 day chip free mirror shine with no damage to your natural nails. . Price includes cuticle work, nail filing and shaping and glitter if required. We offer free removal to clients who re book for 2 weeks.

              .service-offer
                h3.service-offer-title £20.00

          .row.service-copy
            .cell-sm-4.image-cover.mb-sm.mr
              img.img-responsive(src='img/nails-biosculpture.jpg', title='Bio Sculpture Gel', alt='Bio Sculpture Gel')

            .cell-sm
              h2.service-copy-title Bio Sculpture Gel

              .service-copy-content
                p.
                  Bio Sculpture gel is applied as an overlay onto natural nails by our qualified nail technicians. They can also be used with tips if you require extensions.  The permanent colour gel is strong and flexible with a glossy finish, lasting for up to 3 weeks. They can then be infilled or removed and replaced.  Bio Sculpture gel is an advanced nail treatment which strengthens and conditions the nails.The flexible coating moves with the nails, protecting them whilst allowing them to grow without breaking. Price includes cuticle work, nail filing and shaping and glitter if required.

              .service-offer
                h3.service-offer-title Overlays £25.00

              .service-offer
                h3.service-offer-title Extensions £35.00
