.service-content--page--caption

  p.
    Welcome to our purpose built training suite containing two vibration
    training machines. Keep fit in a relaxed and friendly atmosphere.

  p.
    We are proud to use <strong>VIBRAXIS</strong> - the ultimate in vibration
    training.
    Vibration training works all the major muscle groups in less time than
    conventional exercise, and just 10 minutes a day in the standing position on
    the <strong>VIBRAXIS</strong> is the equivalent to one hour resistance
    training.
    
  p.
    You can drop a dress size in just one month! <strong>VIBRAXIS</strong>
    reduces body fat & cellulite, improves muscle tone &amp; strength and
    improves your health & well being.
    
.service-content--page--meta
  
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Increase Muscular Strength
      .service-content--page--meta-content
        p.
          Exercise whilst exposing the body to vibration stimulus creates muscle
          growth similar to that achieved by power training using resistance
          equipment. This is due to muscle fibres being stresses eccentrically
          and concentrically rapidly whilst conducting exercises.
        p.
          Vibration provides an extra training stimulus, increases neural
          recruitment and the use of synergistic muscles. This increases
          strength, power, postural control and balance.
        
        p.
          <strong>Notes:</strong> Eccentric and concentric refers to the muscles
          either being lengthened or shortened in a movement. The synergistic
          muscles are the muscles assisting in a movement and are not the main
          muscles
    
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Increases Bone Mass Density
      .service-content--page--meta-content
        p.
          Studies have shown increases in trabecula bone density due to
          vibration training. The trabecula is situated at the core of the bone,
          and it is this that becomes less dense in osteoporosis.
        
        p.
          When the body is weight bearing on a vibration machine fluid flow
          through the centre of weight bearing bones is increased. This in turn
          increases internal pressure within the bone stimulating bone building
          cells to lay down bone, increasing density. Also with heightened
          muscular activity there are high frequency strain signals constantly
          barraging the bone.
        
        p.
          This stress on the bone also encourages bone building cells to lay
          down bone, increasing their density.
  
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Encourages Fat Loss
      .service-content--page--meta-content
        p.
          Obesity and weight loss are directly influenced through
          vibration training. Vibration develops leaner muscle tissue. It
          increases the metabolic rate, resulting in a higher calorific
          burn, in combination with an improvement in lymphatic draining
          and blood circulation. Using the vibration machine will elevate
          the metabolic rate, burning calories while even resting. Growth
          hormone, testosterone and insulin like growth hormone-1 improve
          the metabolism and have been shown to increase with vibration
          training.
          
  
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Helps to Reduce Cellulite
      .service-content--page--meta-content
        p.
          Cellulite is developed when the body retains fluids, which causes the
          skin tissue to expand. Unhealthy eating and drinking habits and a lack
          of exercise aggravate the effect even further.
        
        p.
          Whole body Vibration is most effective in fighting cellulite. The
          intense vibrations, causing a constant (high speed) contraction in the
          muscles, result in an increase of the cross linking of various
          tissues.
        p.
          Vibration training increases the blood circulation enormously,
          enabling the body to get rid of the superficial fluids and improving
          lymphatic drainage. As a result of the increasing circulation the
          collagen in the skin is tightened and firmed.
          
    
  .row.service-content--page--meta-section
    .cell-xs
    
      h2.service-content--page--meta-title Rehabilitation and Therapy
      .service-content--page--meta-content
        p.
          Vibration exercise has exceptional ability to reduce atrophy (muscle
          wasting) and increase the range of motion of the joints, thereby
          helping to regenerate tissue such as bone, tendons, muscles and
          fascia.
          
        p.
          It is ideal for the treatment of a wide range of physical ailments
          ranging from irritated tendons and sports injuries, to osteoporosis
          and fibromyalgia.
