.service.service-vibraxis
  h1.service-title Vibraxis

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1280', preserveaspectratio='xMidYMid slice')
      defs
        clippath#vibraxisPath
          polygon.clip(points='0, 1280 0, 0 1920, 0 1920, 1280')

      image(clip-path='url(#vibraxisPath)', width='1920', height='1280', xlink:href='img/categories/vibraxis.jpg')

    .grid
      .service-content
        .service-body
          i.fa.fa-times.service-btn-close

          .service-caption
            h2.service-caption-title Vibraxis

          .service-copy

            p.
              Welcome to our purpose built training suite containing two
              vibration training machines. Keep fit in a relaxed and friendly
              atmosphere.

            p.mt.
              We are proud to use VIBRAXIS - the ultimate in vibration training.
              Vibration training works all the major muscle groups in less time
              than conventional exercise, and just 10 minutes a day in the
              standing position on the VIBRAXIS is the equivalent to one hours
              resistance training. You can drop a dress size in just one month!
              VIBRAXIS reduces body fat & cellulite, improves muscle tone &
              strength and improves your health & well being.

          .row
            .cell-sm

              h1.
                Benefits of Vibraxis

              p.
                Call in for your free trial today! One session on the Vibraxis is £3 or a month’s course (use once daily) is just £20.(For those looking for major inch loss welrecommend using the Vibraxis 3 - 4 times per week.)

