.service.service-waxing
  h1.service-title.
    Lycon Waxing

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1280', preserveaspectratio='xMidYMid slice')
      defs
        clippath#waxingPath
          polygon.clip(points='0, 1280 0, 0 1920, 0 1920, 1280')

      image(clip-path='url(#waxingPath)', width='1920', height='1280', xlink:href='img/categories/waxing.jpg')

    .grid
      .service-content

        Using only the finest resins, natural ingredients and aromatherapy oils, Lycon delivers superior performance, removing stubborn hair as short as 1mm.

        Lycon is the professional’s choice in quality wax and an essential ingredient in leading salons around the world.
