.service.service-waxing
  h1.service-title Lycon Waxing

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 1200', preserveaspectratio='xMidYMid slice')
      defs
        clippath#waxingPath
          polygon.clip(points='0, 1200 0, 0 1920, 0 1920, 1200')

      image(clip-path='url(#waxingPath)', width='1920', height='1200', xlink:href='img/categories/waxing.png')

      
    .grid
      .service-content
        h1.service-inner-title Lycon Waxing
        i.service-btn-close

        .service-body
          .service-caption
            .service-caption-description
              p.
                Using only the finest resins, natural ingredients &amp; aromatherapy oils, Lycon delivers superior performance
                removing stubborn hair as short as 1mm. Lycon is the professional choice in quality wax and an essential
                ingredient in leading salons around the world.
          
          .row.service-copy.mt
            .cell-sm.mr
            
              .row.service-copy
                .cell-sm
                  h2.service-copy-title Lycon Strip Wax

                  .service-copy-content
                    p.
                      Removes har effectively, gentrly &amp; quickly with no skin drag, making it the perfect choice
                      for larger areas such as legs, chest and back waxing.
                      
            .cell-sm
              .row.service-copy
                .cell-sm
                  h2.service-copy-title Lycon Hot Wax

                  .service-copy-content
                    p.
                      Lyconx Lyco-Jet formula is a low temperature hot wax effective in removing hair as short as 1mm.
                      It can be re-applied a number of times to ensure a perfect finish. It is perfect for sensitive
                      areas such as intimate and facial hairs.
                      
          .row.service-copy
            .cell-sm
              .row
                .cell-sm
                  .service-offer
                    h3.service-offer-title Eyebrow re-shape £7.50
                    
                  .service-offer
                    h3.service-offer-title Lip £6.00
                    
                  .service-offer
                    h3.service-offer-title Eyebrow, Lip and Chin £16.00
                    
                  .service-offer
                    h3.service-offer-title Underarm £10.50
                    
                  .service-offer
                    h3.service-offer-title Half Leg £16.50
                    
                  .service-offer
                    h3.service-offer-title Full Leg £24.00
                    
                  .service-offer
                    h3.service-offer-title Standard Bikini £12.00
                    
                  .service-offer
                    h3.service-offer-title Extended Bikini £18.00
                    
                  .service-offer
                    h3.service-offer-title Brazilian £20.00
                    
                  .service-offer
                    h3.service-offer-title Hollywood £23.00
                    
                  .service-offer
                    h3.service-offer-title Male Chest Wax £15.00

              .row.service-meta
                .cell-sm
                  
                  p.
                    Packages available with large discounts, other areas available with prices on request.
                    
                  p.
                    Retail aftercare products also available.
