.service-content--page--caption

  p.
    Using only the finest resins, natural ingredients &amp; aromatherapy oils,
    Lycon delivers superior performance removing stubborn hair as short as 1mm.
    Lycon is the professional choice in quality wax and an essential ingredient
    in leading salons around the world.
    
.service-content--page--meta
  
  .row.service-content--page--meta-section
    .cell-sm
    
      h2.service-content--page--meta-title Lycon Strip Wax
      .service-content--page--meta-content
        p.
          Removes hair effectively, gently &amp; quickly with no skin drag,
          making it the perfect choice for larger areas such as legs, chest and
          back waxing.
    
    .cell-divider
    .cell-sm
    
      h2.service-content--page--meta-title Lycon Hot Wax
      .service-content--page--meta-content
        p.
          Lycon Lyco-Jet formula is a low temperature hot wax effective in
          removing hair as short as 1mm. It can be re-applied a number of times
          to ensure a perfect finish. It is perfect for sensitive areas such as
          intimate and facial hairs.
            
  .row.service-content--page--meta-section
    .cell-xs
    
      .service-content--page--meta-offers
        .service-content--page--meta-offer
          p Eyebrow re-shape £7.50
          
        .service-content--page--meta-offer
          p Lip £6.00
          
        .service-content--page--meta-offer
          p Eyebrow, Lip and Chin £16.00
          
        .service-content--page--meta-offer
          p Underarm £10.50
          
        .service-content--page--meta-offer
          p Half Leg £16.50
          
        .service-content--page--meta-offer
          p Full Leg £24.00
          
        .service-content--page--meta-offer
          p Standard Bikini £12.00
          
        .service-content--page--meta-offer
          p Extended Bikini £18.00
          
        .service-content--page--meta-offer
          p Brazilian £22.00
          
        .service-content--page--meta-offer
          p Hollywood £25.00
          
        .service-content--page--meta-offer
          p Male Chest Wax £15.00
          
        .service-content--page--meta-offer
          p Male Back Wax £23.00
        
  .row.service-content--page--meta-section.poper
    .cell-xs
    
      .service-content--page--meta-content
        p.
          Packages available with large discounts, other areas available with
          prices on request.
          Retail aftercare products also available.
