section.team {
  &mate {
    @extend .cell-xs-12;

    background-color: #fff;
    border-radius: ui(border_radius_size);
    padding: ui(spacing);

    &:nth-child(even) { margin: ui(spacing) 0; }

    @include mq($from: 'sm') {
      flex: 1;

      &:nth-child(even) { margin: 0 ui(spacing); }
    }

    &-image {
      border-radius: 100%;
      width: 100px;
      padding: 0 (ui(spacing) / 2) (ui(spacing) / 2) 0;
    }

    &-skills {
      margin: (ui(spacing) / 2) 0 0;
      padding: 0 0 0 (ui(spacing) / 2);
    }
  }
}
