.header {

  @at-root {

    .navbar {
      // background-color: rgba(255, 255, 255, .3);
      // background-color: #0A46E2;
      // background-color: #2E1E11;
      position: fixed;
      opacity: 1;
      transition: opacity 1s ease-in,
                  visibility 1s linear .5s;
      transition-delay: 0s;
      visibility: visible;
      width: 100%;
      z-index: 5;

      // &-small {
      //   background-color: ui(brand_color);
      //   border-bottom: ui(border_radius_size) solid darken(ui(brand_color), 5%);

      //   .navbar {
      //     &-brand {

      //       @include mq($from: 'sm') { padding: (ui(spacing) / 2) 0; }

      //       &-image {
      //         display: none;

      //         &-small { display: block; }
      //       }
      //     }

      //     &-link {
      //       color: #fff;

      //       &:hover { background-color: darken(ui(brand_color), 5%); }
      //     }

      //     @include mq($until: 'sm') {
      //       &-trigger,
      //       &-container {
      //         &.opened { background-color: darken(ui(brand_color), 5%); }
      //       }
      //     }
      //   }
      // }

      &-brand {
        flex: 1;
        display: flex;

        @include mq($until: 'sm') { padding-left: ui(spacing) / 2; }

        // img {
        //   height: 100%;
        //   transition: padding 4s linear;
        //   width: 10em;

        //   @include mq($until: 'sm') { padding: ui(spacing) / 2; }
        // }

        // &-image-small { display: none; }

        // @include mq($from: 'sm') { padding: ui(spacing) 0; }
      }

      // Trigger for Small Devices

      @include mq($until: 'md') {

        &-trigger {
          flex: 0 1 auto;
          align-items: center;
          display: flex;
          padding: ui(spacing);
          transition: .3s;
          cursor: pointer;
          user-select: none;

          .lines {
            background-color: #fff;
            border-radius: ui(border_radius_size);
            display: flex;
            height: ui(border_radius_size) * 2;
            position: relative;
            width: 2.5em;
            transform-origin: 16px center;

            &::before,
            &::after {
              background-color: #fff;
              border-radius: ui(border_radius_size);
              content: '';
              height: ui(border_radius_size) * 2;
              position: absolute;
              width: 2.5em;
              transform-origin: 50% 50%;
              transition: top .3s .6s ease,
                          transform .3s ease;
            }

            &::before { top: -(ui(spacing) / 4); }
            &::after { top: ui(spacing) / 4; }
          }

          &.opened {
            background-color: rgba(255, 255, 255, .3);

            .lines {
              background: transparent;

              &::before,
              &::after { top: 0; }
            }
          }
        }

        &-container {
          background-color: rgba(255, 255, 255, .3);
          height: 0;
          overflow: hidden;

          &.opened { height: 100%; }
        }
      }

      &-item {
        display: flex;
        flex: 1;

        &s {

          &-container {
            flex: 1;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            @include mq($until: 'md') { flex-direction: column; }
          }
        }
      }

      &-link {
        display: flex;
        color: ui(brand_color);
        padding: ui(spacing);
        text-decoration: none;
        align-items: center;
        flex: 1;
        font-weight: 500;

        &:hover { background-color: rgba(255, 255, 255, .3); }

        @include mq($from: 'md') { justify-content: center; }
      }
    }
  }
}
