.massage {
  .alert { background-color: $service-massage-color; }

  .service {
    &-category--title {
      background-color: rgba($service-massage-color, .3);

      &:before { background-color: $service-massage-color }
    }

    &-content {
      &--page {

        &::after {
          content: '';
          background: linear-gradient(to top, rgba($service-massage-color, 1), rgba($service-massage-color, 0));
        }

        &--caption { border-color: $service-massage-color; }

        &--meta {
          &-section {

            &.poper {
              background-color: $service-massage-color;
              box-shadow: 6px 6px 0 0 rgba($service-massage-color, .5);
            }
          }
        }

        &--header {
          .close-page {
            svg {
              .circle { fill: $service-massage-color; }
            }
          }
        }
      }
    }
  }

  &--benefit {
    padding: ui(spacing);
    background-color: rgba(darken($service-massage-color, 10%), .3);
    margin-top: 1px;

    &-button {
      padding: ui(spacing) / 2;
      background-color: rgba(darken($service-massage-color, 10%), .3);
      border-radius: ui(border_radius_size);
      color: #fff;
      display: inline-flex;
      text-transform: uppercase;
      font-size: .7em;
      margin-top: ui(spacing) / 2;
    }

    &-container { margin: ui(spacing) (-(ui(spacing))) (-(ui(spacing))); }
    &-title { margin-bottom: ui(spacing) / 3; }
  }
}
