@import "src/css/reset";
@import "gridle";

@import "bower_components/font-awesome/scss/font-awesome";

@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,300italic,300,100italic,100,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/*********************************

  Author: Radulescu Vladut
  Company: Studio51

  Client: suntraplounge.co.uk
  Date completed: 27.02.2015
  Version: 2.0

  Credits: see ./humans.txt

*********************************/

.font-typeOne {
  font-family: 'Tangerine', sans-serif;
}
.font-typeTwo {
  font-family: 'Josefin Sans', sans-serif;
}
.font-typeThree {
  font-family: 'Roboto Slab', sans-serif;
}

$suntrap: (
  spacing: 16px,
  brand_color: #221D52,
  border-radius-size: 3px
);

@function suntrap($key) {
  @if map-has-key($suntrap, $key) {
    @return map-get($suntrap, $key);
  }

  @warn "Unknown variable '#{$key}' in suntrap";
  @return null;
}

/* 1.0 Body */

p {
  margin-bottom: 0;
  margin-top: 0;
}

.list-inline {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.img-responsive {
  width: 100%;
}

.mt { margin-top: suntrap(spacing); }
.mb { margin-bottom: suntrap(spacing); }
.ml { margin-left: suntrap(spacing); }
.mr { margin-right: suntrap(spacing); }

body {
  background-color: #EDEBDE;
  font-family: 'Josefin Sans', sans-serif;
}

.header {

  @at-root {

    .masthead {

      @include mq($until: 'sm') {
        margin-left: suntrap(spacing);
        margin-right: suntrap(spacing);
      }

      background-color: #fff;
      border-top-left-radius: suntrap(border-radius-size);
      border-top-right-radius: suntrap(border-radius-size);
      margin-top: suntrap(spacing);
      padding: suntrap(spacing);
    }

    .navbar {
      background-color: suntrap(brand_color);
      border-top: 3px solid darken(suntrap(brand_color), 5%);

      &-brand {
        text-align: center;
        padding: suntrap(spacing) 0;

        @include mq($until: 'sm') {
          padding: suntrap(spacing);
        }

        img {
          @extend .img-responsive;

          @include mq($until: 'sm') {
            width: 10em;
            margin: 0 auto;
          }
        }
      }

      &-container {
        @extend .list-inline;

        @include mq($until: 'sm') {
          background-color: rgba(darken(suntrap(brand_color), 50%), .1);
        }
      }

      &-item {
        display: flex;
        flex: 1;

        & ~ &:before {
          @extend .align-center--self;

          color: #fff;
          content: '•';
          margin-left: suntrap(spacing) / 2;
          margin-right: suntrap(spacing) / 2;
        }
      }

      &-link {
        @extend .align-center;
        @extend .align-middle;

        color: #fff;
        display: flex;
        flex: 1;
        text-decoration: none;
        padding: suntrap(spacing);
        min-width: 100px;

        &:hover {
          background-color: rgba(darken(suntrap(brand_color), 50%), .3);
        }
      }
    }
  }
}

.jumbotron {
  // height: 100vh;
  // display: flex;
  // flex: 1;
  overflow: hidden;

  .grid {
    box-shadow: 0 0 32px 8px rgba(#999, .3);
  }

  &-image {
    height: 100vh;
    flex: 1;
    background-image: url('../img/suntrap.jpg');
    // background-attachment: fixed;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.section {

  &-title {
    @extend .align-center;
    @extend .font-typeThree;

    font-size: 2em;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;

    &::after {
      border-top: 1px solid #000;
      bottom: -15%;
      content: '';
      left: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      right: 0;
      width: 10%;
    }
  }
}

.service {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: suntrap(spacing);
  margin: suntrap(spacing);
  text-decoration: none;

  $services: 'tanning', 'massage', 'waxing', 'facial', 'nails', 'beauty', 'vibraxis';

  @each $service in $services {
    &-#{$service} {
      background-image: url('../img/#{$service}.jpg');
    }
  }

  // &-title {
  //   @extend .align-center;
  //   @extend .font-typeOne;
  //   @extend .section-title;

  //   background-color: rgba(255, 255, 255, 0.3);
  //   color: #000;
  //   display: flex;
  //   margin: 0;
  //   padding: suntrap(spacing);
  //   visibility: hidden;

  //   &::after {
  //     bottom: 15%;
  //   }

  //   @media only screen and (-webkit-min-device-pixel-ratio: 2) {
  //     visibility: visible;
  //   }
  // }

  // &:hover {

  //   .service-title {
  //     visibility: visible;
  //   }
  // }

  // &s {
  //   border: 1px solid red;

  //   .row {
  //     margin-left: -16px;
  //     margin-right: -16px;
  //   }
  // }
}

.about {

  &-content {
    background-color: #fff;
    border-radius: suntrap(border-radius-size);
    margin: suntrap(spacing) 0;
    padding: (suntrap(spacing) * 2);

    @include mq($until: 'sm') {
      margin-left: suntrap(spacing);
      margin-right: suntrap(spacing);
      text-align: center;
    }
  }

  &-subtitle {
    @extend .font-typeOne;

    font-size: 2em;
    margin-top: 0;
  }

  img {
    border-radius: 100%;
    height: 230px;
    margin-bottom: suntrap(spacing);
    width: 230px;
  }
}

.testimonial {

  &s {
    background-color: #fff;
    padding: (suntrap(spacing) * 2) 0;

    &-container {
      height: 25vh;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: suntrap(spacing) * 4;
    }

    &-image {
      background-image: url('../img/woman-sitting.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      margin-left: -(suntrap(spacing) * 4);
      margin-bottom: -(suntrap(spacing) * 4);
    }
  }

  &-author {
    @extend .font-typeOne;

    font-size: 2.5em;
    margin-bottom: suntrap(spacing);
    margin-top: 0;
  }

  &-content {
    line-height: 1.2;
  }
}

/* service */

.service {
  position: relative;
  // float: left;
  // width: 29%;
  // height: 0;
}

.service-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  /* prevents flicker */

  -webkit-overflow-scrolling: touch;
}

.service-container--closed {
  position: absolute;
  overflow: hidden;
}

.service-image {
  position: relative;
  left: 50%;
  display: block;
  height: 100%;
  max-height: 500px;
  transform: translateX(-50%);
}

.service-container--closed .service-image {
  cursor: pointer;
}

.service-content {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fff;
}

.service-container--closed .service-content {
  pointer-events: none;
  background: transparent;
}

.service-caption {
  max-width: 900px;
  margin: 0 auto;
}

.service-container--closed .service-caption {
  max-width: none;
  transform: translateY(-100%);
}

.service-title {
}

.service-container--closed .service-title {
}

.service-subtitle {
}

.service-container--closed .service-subtitle {
}

.service-copy {
  max-width: 900px;
}

.service-copy p:first-of-type {
}

.service-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.service-container--closed .service-btn-close {
  display: none;
}

.meta {
  display: flex;

}

.service-container--closed .meta {
  visibility: hidden;
}

.meta-avatar {
}

.meta-author {
}

.meta-date {
}

@media only screen and (max-width: 980px) {
  .service {
    width: 46%;
  }
  .service-image {
    max-height: 360px;
  }
  .service-content {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 580px) {
  .service {
    width: 96%;
  }
}

@media only screen and (max-width: 400px) {
  .service-caption {
  }
  .meta {
  }
  .service-copy {
  }
}
