@import "src/css/reset";
@import "gridle";

@import url('https://fonts.googleapis.com/css?family=Tangerine:400');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,300italic,300,100italic,100,700italic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

/************************************

  Author: Radulescu Vladut
  Company: Studio51 Creative Services

  Client: suntraplounge.co.uk
  Date completed: 17.12.2015
  Version: 1.0

  Credits: see ./humans.txt

************************************/

.font-typeOne   { font-family: 'Tangerine', sans-serif; }
.font-typeTwo   { font-family: 'Josefin Sans', sans-serif; }
.font-typeThree { font-family: 'Roboto Slab', sans-serif; }

$suntrap: (
  spacing: 32px,
  body_color: #EDEBDE,
  brand_color: #221D52,
  brand_alt_color: #CDE7EA,
  border_radius_size: 3px,
  tanning_main_color: #C49991,
  massage_main_color: #EFF0D1,
  beauty_main_color: #EFF0D1
);

@function ui($key) {
  @if map-has-key($suntrap, $key) {
    @return map-get($suntrap, $key);
  }

  @warn "Unknown variable '#{$key}' in suntrap";
  @return null;
}

/* Components */

.list-inline {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.tab {
  &s { @extend .list-inline; }

  &-pane:not(.active) { display: none; }
}

.mt {
  margin-top: ui(spacing);

  &-xs { @include mq($until: 'sm') { margin-top: ui(spacing) / 2; }}
}

.mb {
  margin-bottom: ui(spacing);

  @include mq($until: 'sm') {

    &-sm {
      margin-bottom: ui(spacing);
    }
  }
}

.ml { margin-left: ui(spacing); }
.mr { margin-right: ui(spacing); }

p ~ p { margin-top: ui(spacing) / 3; }

@include mq($until: 'sm') {
  .image-cover {
    margin-left: -(ui(spacing));
    max-width: calc(100% + #{ui(spacing) * 2});
    margin-right: -(ui(spacing));
  }
}

/* Body */

body {
  @extend .font-typeThree;

  background-color: ui(body_color);
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 14px;

  &.body--hidden {
    .navbar {
      opacity: 0;
      transition: opacity 1s ease-out,
                  visibility 0s linear .5s;
      visibility: hidden;
    }
  }
}

// @import 'partials/header';
//
// @import 'components/jumbotron';
// @import 'components/about';
// @import 'components/services';
//
//   @import 'pages/*';
//
// @import 'components/elemis';
// @import 'components/testimonials';
//
// @import 'partials/footer';

@import 'partials/header';

@import 'components/jumbotron';
@import 'components/about';
@import 'components/services';
// @import 'components/elemis';
// @import 'components/testimonials';

// @import 'partials/footer';
//
.section {
  &-title {
  }
}
//     @extend .font-typeTwo;
//
//     align-self: flex-start;
//     font-size: 2.5em;
//     font-weight: 600;
//     margin-bottom: ui(spacing) / 2 + (ui(spacing) / 4) ;
//     text-transform: uppercase;
//     position: relative;
//
//     &::after {
//       bottom: -(ui(spacing) / 4);
//       border-bottom: (ui(border_radius_size) - 1) solid ui(brand_color);
//       content: '';
//       left: 0;
//       right: 0;
//       position: absolute;
//       transition: width .5s ease-in-out;
//       width: 15%;
//     }
//
//     &:hover::after { width: 100%; }
//   }
//
//   &-subtitle {
//     @extend .font-typeTwo;
//
//     display: block;
//     font-size: .5em;
//     font-weight: 400;
//   }
// }
//
// // Alerts
//
// .alert {
//   &-info {
//     background-color: #d9edf7;
//   }
// }
//
// // .jumbotron::after {
// //   // background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(#C85EA9,1) 100%);
// //   background-color: rgba(#54A63D, .4);
// //   content: '';
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// //   width: 100%;
// //   height: 100%;
// //   z-index: -1;
// // }
//
// // .jumbotron::before {
// //   // background: -webkit-linear-gradient(45deg, rgba(#C85EA9,1) 0%, rgba(163,65,109,0) 100%);
// //   content: '';
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// //   width: 100%;
// //   height: 100%;
// //   z-index: -1;
// // }
//
// // .jumbotron {
// //  position: relative;
// //  }
//
//
//   .navbar h3 {
//     align-self: center;
//     font-size: 1.8em;
//     font-family: 'Arial';
//     font-weight: 200;
//   }
//   .navbar {
//     height: 15vh;
//   }
//   .navbar img { display: none; }
//   .navbar a {
//     color: #fff;
//   }
