.cd-modal-action
  h1.service-title Beauty Therapy
  p.service-description
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quaerat
    | nihil autem minus voluptatem atque aliquid unde delectus aliquam iure cum
    | vel rerum officiis commodi facere laudantium, ducimus culpa? Consequuntur.

  a.btn.btn-primary(href='#', data-type='modal-trigger') Learn more..
  span.cd-modal-bg

.micro-page.micro-page--massage.cd-modal
  .micro-page-content.cd-modal-content

a.cd-modal-close(href='#') Close
