h1.service-title Elemis
p.service-description.
  Elemis was born out of the vision to bring together the power of nature,
  science and aromatics to create a skin care line that would transform the
  beauty industry. Elemis provides a naturally sourced, results driven
  skincare range designed to be personally described for you.

p.
  We are proud to be an Elemis Spa &amp Salon partner and are delighted to be
  able to offer you the award winning range of products and facial treatments
  all carried at by our Elemis trained therapists.

p.
  Book your facial now or book four our free 15 minute facial mapping skin
  analysis with our Elemis therpaist who will advise you on suitable products
  or treatments for your skin type.

p.
  Facial mapping appointment included free of charge with your first facial

p.
  Navigate the interactive model to find out about our range of Facial
  Treatments

h3.
  Pro-Intense Lift Effect Facial 1 hour £55.00
span.
  Powerfull lifting techniques target sagging jowls, cheeks, chin and neck
  for the ultimate lift effect.

p.
  Powered by breakthrough technology that combines cutting edge plant skin
  ceus, nutrient rich natural lipids &amp; firming plant actives. Powerfull
  lifting techniques target sagging jowls, cheeks, chin &amp; neck whilst
  helping to reduce puffiness &amp; fluid retention associated with
  sagging skin.

h3.
  White Brightening facial 1 hour £55
span.
  Illuminates &amp; brightens for a naturally more even complexion

p.
  This targeted treatment responds to individual skin needs helping to
  reduce age spots, discoloration and dull skin tone &amp; texture tearing
  the skin illuminated, more even and beautifully white bright.

h3.
  Visible Brilliance Facial 1 hour £55
span.
  Revivies dull, slackened skin, restoring radiance

p.
  Perfect pre-ocassion treatment. Moisturisation levels are clinically
  proven to increase by up to 60% and elasticity by up to 40% after just
  one treatment.
p.
  Specialised micro-circulatory massage combined with a 2 pase amino active
  mask, helps smooth, pump and restore radiance.

h3.
  Pro-Collagen Quartz Lift Facial 1 hour £50
span.
  Anti-wrinkle facial with proven results

p.
  Clinically proven to reduce the number of wrinkles by up to 94% and
  improve skin firmness by up to 57% after just 1 treatment.
p.
  Specialised lifting massage, combined with proven marine extract, podina
  paranica, helps tore-energise cell communication and rejuvenate skin.

h3.
  Skin Specific Facial 1 hour £50
span.
  The perfect skin maintenance facial

p.
  Customised to your skin type, this facial combines skin conditioning plant
  actives, a prescribed mask and unique eastern facial massage techniques.
p.
  Your face is deeply cleansed to help renew radiance, nourish and balance
  skin.

h3.
  Try Enzyme Resurfacing Facial 1 hour £50
span.
  Peel away the years for smoother, renewed skin

p.
  Clinically proven to resurface by up to 75% and increase skin smoothness
  by up to 32% after just 1 treatment.
p.
  Pioneering precision layering of Tri-Enzyme serums, this unique treatment
  targets blemishes, uneven skin tone, superficial facial scaring and fine
  lines, revealing younger looking skin.
