.cd-modal-action
  a.btn(href='#', data-type='modal-trigger') Read more..
  span.cd-modal-bg

.cd-modal
  .cd-modal-content
    p.
      On the ground floor you will find our bright &amp; vibrant tanning lounge. Our
      stand up or lie down sunbeds are regularly maintained, retubed and maintained to
      the highest standard of cleanliness.

    p.
      With private rooms, complimentary toiletries and robes all set in a relaxed
      atmosphere, our experienced and friendly staff are always on hand to advise
      you on how to achieve and maintain your perfect tan.

    p.
      Sunbed prices are £1.50 for 3 minutes or take advantage of our special offers.
      Sunbed course 60 minutes for £20.

    p.
      We encourage safe and responsible tanning in a supervised environment.
      Over 18's only.

a.cd-modal-close(href='#') Close
