.cd-modal-action
  h1 Massage Therapy
  p
    | Wether your need is to have a moment of relaxation, reduce muscle tension
    | or attain relief from chronic pain, a theraputic massage can enhance your
    | overall sense of emotional &amp; physical well being..

  a.btn.btn-primary(href='#', data-type='modal-trigger') Learn more..
  span.cd-modal-bg

.micro-page.micro-page--massage.cd-modal
  .micro-page-content.cd-modal-content

    .grid
      .row
        .cell.cell-xs-12
          h1.micro-page--title Massage Therapy

          p
            | Let your worries &amp; stresses face away as soon as you enter our
            | treatment rooms. With mood lighting, deep soothing music &amp;
            | electronic heated massage couch.

          p
            | Choose from our range of massage treatments all carried out by our
            | passionate &amp; highly experienced therapists.

          a.btn.btn-success(href="") Click here to find out more about Health Benefits of massage therapy

      .micro-page--massage-cards
        .row
          .cell.cell-xs-12.cell-sm-4

            .card--container.card--of-type-one
              .card--image
                img(src="img/massage-deep-tissue.jpg", title="Deep Tissue Massage", alt="Deep Tissue Massage")

              .card--content
                .card--title
                  h1.micro-page-section--header Deep tissue massage

                p
                  | The massage focuses on releving tension &amp; aching muscles. The
                  | fundamental elements of the deep tissue muscle massage are experienced
                  | in deep presure using blended massage oils.

                p
                  | Tailor made to suit the individual needs of the client.

                .card--content-price
                  h2 1 hour £35.00
                  span Introductory price £25.00 and £20 for 1/2hour

          .cell.cell-xs-12.cell-sm-4
            .card--container.card--of-type-one
              .card--image
                img(src="img/massage-hot-stone.jpg", title="Hot Stone Massage", alt="Hot Stone Massage")

              .card--content
                .card--title
                  h1.micro-page-section--header Hot Stone therapy massage

                p
                  | Smooth hot stones are placed on chakra points of the body them
                  | massaged allowing the therapist to access deeper muscle layers, melts
                  | away tension, eases muscle stiffness &amp; increases circulation and
                  | metabolism.

                p
                  | The volcanic stones are believed to promote relaxation and healing, as
                  | well as eliminating negative energy withing the body, mind &amp; soul.

                .card--content-price
                  h2 1 hour £35.00
                  span Introductory price £25.00

          .cell.cell-xs-12.cell-sm-4
            .card--container.card--of-type-one
              .card--image
                img(src="img/massage-mother-to-be.jpg", title="Mother to be Massage", alt="Mother to be Massage")

              .card--content
                .card--title
                  h1.micro-page-section--header Mother to be massage

                p
                  | Massage therapy during pregnancy is a healthy way to reduce stress and
                  | promote overall welness.

                p
                  | It can also relieve many of the normal discomoforts experienced during
                  | pregnancy, such as backaches, stiff neck, leg cramps, headeaches and
                  | swelling. Taior made to suit the individual needs of the client.

                .card--content-price
                  h2 1 hour £35.00
                  span Introductory price £25.00

a.cd-modal-close(href='#') Close
