.cd-modal-action
  h1.service-title Tanning
  p.service-description
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, nisi odit
    | nesciunt similique ullam minima iste inventore impedit quos magni obcaecati,
    | voluptatibus nostrum ea nemo maiores omnis autem assumenda aliquam!

  a.btn.btn-primary(href='#', data-type='modal-trigger') Learn more..
  span.cd-modal-bg

.micro-page.micro-page--tanning.cd-modal
  .micro-page-content.cd-modal-content

    .grid

      .micro-page--tanning-cards

        .row
          .cell.cell-xs-12.cell-sm-8

            .card--container.card--of-type-two
              .card--content
                .card--image
                  img(src="img/tanning-sunbed.jpg", title="Deep Tissue Massage", alt="Deep Tissue Massage")

                .card--title
                  h1.micro-page-section--header Tanning

                p
                  | On the ground floor you will find our bright &amp; vibrant tanning
                  | lounge. Our stand up or lie down sunbeds are regularly maintained,
                  | and retubed to the highest standard of cleanliness.

                p
                  | With private rooms, complimentary toiletries and robes all set in
                  | a relaxed atmosphere, our experienced and friendly staff are always
                  | on hand to advise you on how to achieve and maintain your perfect
                  | tan.

                p
                  | Sunbed prices are £1.50 for 3 minutes or take advantage of our
                  | special offers. Sunbed course 60 minutes for £20.

                p
                  | Here at Suntrap we pride ourselves on providing the best tanning
                  | and products at affordable prices.

                .alert.alert-info
                  p
                    | We encourage safe and responsible tanning in a supervised
                    | environment.

                    strong Over 18's only.

          .cell.cell-xs-12.cell-sm-3

            .micro-page-section--aside
              .card--container.card--of-type-one
                .card--image
                  img(src="img/tanning-protan.jpg", title="Deep Tissue Massage", alt="Deep Tissue Massage")

                .card--content
                  p
                    | Our wide range of protan accelaerator creams which
                    | boost, enhance and prolong your tan whilst repairing and
                    | replenishing the skin.

                  .card--content-price
                    h2
                      | Prices start at just £1.00

        .row
          .cell.cell-xs-12.cell-sm-8

            .card--container.card--of-type-two
              .card--content
                .card--image
                  img(src="img/tanning-uv-free.jpg", title="Deep Tissue Massage", alt="Deep Tissue Massage")

                .card--title
                  h1.micro-page-section--header UV Free Tanning

                p
                  | If you prefer to tan without the UV, or you want perfect tan for
                  | that special ocassion, our Urban Spray Tan is for you.

                p
                  | Urban Tan is the most natural looking, paraber and fragrance free,
                  | sunless spray tan that dries in a minute.
                  | It is the chosen product of celebrities &amp; make-up artists and
                  | blends to suit every skin tone.

                p
                  | Our experienced and educated therapist will carry out a
                  | consultation, carefully selecting and blending the required shake
                  | before applying your flawaless tan.

          .cell.cell-xs-12.cell-sm-3

            .micro-page-section--aside
              .card--container.card--of-type-one
                .card--image
                  img(src="img/tanning-urban.jpg", title="Deep Tissue Massage", alt="Deep Tissue Massage")

                .card--content
                  p
                    | Our luxurious Urban 'Tan at home' range!

a.cd-modal-close(href='#') Close
