.service.service-tanning
  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 500', preserveaspectratio='xMidYMid slice')
      defs
        clippath#waxingPath
          // r = 992 = hyp = Math.sqrt(960*960+250*250)
          circle.clip(cx='960', cy='250', r='992')
      image(clip-path='url(#waxingPath)', width='1920', height='500', xlink:href='img/waxing.jpg')

    .service-content
      .grid
