.service.service-waxing
  h1.service-title.
    Lycon Waxing

  .service-container.service-container--closed
    svg.service-image(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 1920 500', preserveaspectratio='xMidYMid slice')
      defs
        clippath#waxingPath
          // r = 992 = hyp = Math.sqrt(960*960+250*250)
          circle.clip(cx='960', cy='250', r='992')
      image(clip-path='url(#waxingPath)', width='1920', height='500', xlink:href='img/waxing.jpg')

    .service-content
      .grid

Using only the finest resins, natural ingredients and aromatherapy oils, Lycon delivers superior performance, removing stubborn hair as short as 1mm.

Lycon is the professional’s choice in quality wax and an essential ingredient in leading salons around the world.
